@use 'src/style/colors';
@use 'src/style/vars';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: vars.$header-height-xs;
	padding: 0;
	background: repeating-linear-gradient(
		-45deg,
		colors.$theme-1,
		colors.$theme-1, 10px,
		colors.$theme-2 10px,
		colors.$theme-2 20px
	);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	text-align: center;
	h1 {
		font-size: 1em;
		margin: 0;
		color: colors.$white-text;
		line-height: vars.$header-height-xs;
	}

	@media screen and (min-width: vars.$sm-bp) {
		height: vars.$header-height-sm;
		h1 {
			font-size: 1.5rem;
			line-height: vars.$header-height-sm;
		}

	}

}
